# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Uploaded files
#uploads/

# OS files
.DS_Store
Thumbs.db

# Virtual environment (if any)
venv/
env/

# VSCode or IDE settings
.vscode/
.idea/

# Logs
*.log